.Fondo{
    /* background-color: #3c4245; */
    background-image: url(/Examenes/Img/fondo_difuminado_login.jpg);
}
/* .encabezado{
    background-color: #719192;;
    height: 120px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    font-size: 30px;
    text-align: center;
    /* display: flex;
    justify-content: center; */
    
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.formulario{
    
    min-width: 380px;
    max-width: 800px;
    width: 90%;
    
    background-color: #5f6769;
    
    /*opacity: 0.50;
    filter: alpha(opacity=50);*/
    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    padding: 30px;
    box-sizing: border-box;
}
.contenido{
    color: rgb(181, 208, 232);
    font-family: Arial, Helvetica, sans-serif;
    bottom: 10px;
    left: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.Etiquetas{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px;

}
.Menu2{
    display: flex;
    justify-content: center;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    
    min-width: 380px;
    max-width: 900px;
    width: 90%;
    
    background-color: #5f6769;
    
    /*opacity: 0.50;
    filter: alpha(opacity=50);*/
    
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    padding: 30px;
    box-sizing: border-box;
}

.entradas{
    width: 40%;
    border: 2px;
    border-color: darkgray;
    border-style: solid;
    border-radius: 5px;
}
.boton{
    background-color: rgb(163, 162, 162); 
    border-radius: 10px 10px 10px 10px;
    color: black;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 5px;
    font-weight: bold;
}


.tarjeta{
    padding: 5px;
    border-radius: 8px;
    margin-top: 5px;
    border-style: solid;
    border-color: gray;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    
}
b{
    margin: 5px;
}
.ImgP{
    width: 150px;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-color: gray;
}
.BotonMenu{
    padding: 10px;
    margin: 20px;
    border-radius: 10px 10px 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(163, 162, 162);
}
/* .Buscar{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    bottom: 10px;
    left: 10px;
}
.BuscarEnt{
    border: 2px;
    border-color: darkgray;
    border-style: solid;
    border-radius: 5px;
    bottom: 10px;
    left: 10px;
} */
